nav.top-bar{
  background-color: #1399bd;
}
.title-area .name span{
  font-weight: 500;
  font-size: 15px;
}
.top-bar .top-bar-section .right a{
  font-weight: bold;
  font-size: 16px;
  background-color: #1399bd;
}
.top-bar .top-bar-section .right a:hover{
  background-color: #1399bd;
  color: #dbdbdb;
}
.resume .content{
  margin-top: 50px;
}
.side-bar section a{
  text-align: center;
  position: relative;
}
.side-bar section a i{
  position: absolute;
  right: 20px;
  line-height: 22px;
  color: #1399bd;
}
.title-area img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
}
.footer{
  background-color: #1399bd;
  padding: 20px;
}
