nav.top-bar{
  background-color: #1399bd;
}
.title-area .name span{
  font-weight: 500;
  font-size: 15px;
}
.top-bar .top-bar-section .right a{
  font-weight: bold;
  font-size: 16px;
  background-color: #1399bd;
}
.top-bar .top-bar-section .right a:hover{
  background-color: #1399bd;
  color: #dbdbdb;
}
.resume .content{
  margin-top: 50px;
}
.side-bar section a{
  text-align: center;
  position: relative;
}
.side-bar section a i{
  position: absolute;
  right: 20px;
  line-height: 22px;
  color: #1399bd;
}
.title-area img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
}
.footer{
  background-color: #1399bd;
  padding: 15px;
}
#info h3, #edu h3, #pro h3, #award h3, #it h3, #comment h3{
  border-bottom: solid 2px #1399bd;
}
#info, #edu, #pro, #award, #it, #comment{
  margin-bottom: 50px;
}
.large-8 ul{
  margin-left: 22px;
}
.resume .content .row .large-3{
  position: fixed;
  width: 19%;
}
.muted{
  margin-left: 5px;
  color: #828282;
}
.block{
  margin-bottom: 35px;
}
.second{
  margin-left: 10px;
}
.second h5{
  color: #262626;
}
.mainwork{
  margin-top: 5px;
  margin-left: 5px;
}
.endlink{
  color: black;
}
.footer p{
  margin-bottom: 0;
}
.desc div{
  margin-bottom: 10px;
}
